*{margin: 0; padding: 0; box-sizing: border-box;}

li{list-style: none;}
a{color: #333; text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
}

#wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}


#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1{
    width: 200px;
    height: 40px;
    font-size: 26px;
}
#header h1 span{
    color: green;
    font-weight: bold;
}


#nav{
    margin-right: 80px;
    margin-top: 58px;
    position: relative;
}
#nav .bg{
    display: none;
    width: 1200px;
    height: 114px;
    background: green;
    position: absolute;
    top: 42px; right: -80px;
    z-index: 10;
}
#nav>ul{display: flex;}
#nav>ul>li{
    border: 1px solid green;
    margin-right: -1px;
    text-align: center;
    width: 150px;
}
#nav>ul>li>a{
    display: block;
    padding: 10px 30px;
    transition: .3s;
}
#nav>ul>li:hover>a{
    background: green;
    font-weight: bold;
    color: #fff;
}
#nav>ul>li>ul{
    display: none;
    position: absolute;
    transition: .3s;
    z-index: 11;
}
#nav>ul>li>ul>li{
    text-align: center;
    width: 150px;
}
#nav>ul>li>ul>li>a{
    color: #ddd;
    font-size: 14px;
    display: block;
    padding: 10px 30px;
    transition: .3s;
}
#nav>ul>li>ul>li:hover>a{
    background: #fff;
    font-weight: bold;
    color: green;
}



#main{
    width: 100%;
    height: 500px;
}
#main .imgslider{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#main .imgslider ul{
    display: flex;
    position: relative;
    top: 0; left: 0;
}
#main .imgslider ul li a img{
    width: 1200px;
    height: 300px;
    object-fit: cover;
    display: block;
}


.contents{
    width: 100%;
    height: 200px;
    display: flex;
}
.contents>div{
    width: 33.3333%;
    height: 100%;
}
.contents h3{font-size: 16px;}

.contents .noticeWrap{
    padding-left: 10px;
}
.contents .noticeWrap h3{
    border: 1px solid #ccc;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
}
.contents .noticeWrap .notice{
    margin-top: -1px;
    border: 1px solid #ccc;
    width: 95%;
    height: 150px;
}
.contents .noticeWrap .notice ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 28px;
    padding: 8px 15px 0;
    border-bottom: 1px solid #ccc;
}
.contents .noticeWrap .notice ul li a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 65%;
}
.contents .noticeWrap .notice ul li span{
    color: #777;
}


.contents .galleryWrap{padding-left: 20px;}
.contents .galleryWrap h3{
    border: 1px solid #ccc;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
}
.contents .galleryWrap .gallery{
    border: 1px solid #ccc;
    margin-top: -1px;
    width: 95%;
    height: 150px;
    padding: 10px;
}
.contents .galleryWrap .gallery ul{
    display: flex;
    justify-content: space-between;

}
.contents .galleryWrap .gallery ul li a img{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.contents .bannerWrap{
    overflow: hidden;
    position: relative;
}
.contents .bannerWrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute;
    top: 0; left: 0; */
}
.contents .bannerWrap h3{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0; left: 0;
}
.contents .bannerWrap:hover{
    color: #fff;
}



#footer{
    width: 100%;
    height: 100px;
    background: rgb(121, 121, 121);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
#footer h1{
    width: 200px;
    font-size: 22px;
    color: #888;
}
#footer h1 span{
    color: green;
    font-weight: bold;
}
#footer .copyright{
    font-size: 14px;
    color: #555;
}
#footer .copyright h4{
    width: 95%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
#footer .copyright p{
    
    width: 90%;
}
#footer select{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border:none;
}
#footer select option{}



.popup{
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0; left: 0;
}
.popup .modal{
    width: 500px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup .modal h3{
    text-align: center;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.popup .modal p{
    padding: 5px;
    text-align: justify;
    line-height: 150%;
}
.popup .modal .close{
    background: red;
    border: none;
    padding: 5px 10px;
    color: #fff;
    position: relative;
    top: 170px; left: 403px;
}