*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{color: #333; text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
    background: #fff;
}

#wrap{
    width: 100%;
    height: 700px;
}

.inner{
    width: 1200px;
    height: inherit;
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 100px;
    background: #aec2ff;
}
#header .inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .inner h1{color: #1b54ff;}


#nav{
    margin-right: 50px;
    position: relative;
}
#nav .bg{
    display: none;
    width: 100%;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 36px; left: 0;
    z-index: 9;
    border: #ccc solid 1px;
}
#nav>ul{display: flex;}
#nav>ul>li{
    width: 130px;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: -1px;
    position: relative;
}
#nav>ul>li>a{
    display: block;
    color: #1b54ff;
    padding: 7px;
    transition: .5s;
}
#nav>ul>li:hover>a{
    background: #1b54ff;
    color: #fff;
    font-weight: bold;
}


#nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 36px; left: 0;
    z-index: 10;
    margin-left: -1px;
}
#nav>ul>li>ul>li{
    width: 130px;
    text-align: center;
}
#nav>ul>li>ul>li>a{
    display: block;
    padding: 7px;
    transition: .5s;
}
#nav>ul>li>ul>li:hover>a{
    background: #1b54ff;
    color: #fff;
    font-weight: bold;
}



#main{
    width: 100%;
    height: 500px;
}
#main .imgslider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* ul에 포지션 설정해야 함.. */
}
#main .imgslider ul{
    display: flex;
    position: relative;
    top: 0; left: 0;
}
#main .imgslider ul li a img{
    object-fit: cover;
    width: 1200px;
    height: 300px;
}


#main .contents{
    width: 100%;
    height: 200px;
    display: flex;
}
#main .contents>div{
    width: 33.3333%;
    border: 1px solid #ccc;
}


.contents .not_gall_wrap{
    padding: 10px;
}
.contents .not_gall_wrap .titles>ul{display: flex;}
.contents .not_gall_wrap .titles>ul>li{
    width: 80px;
    text-align: center;
    padding: 5px 0;
    margin-left: -1px;
    background: #ccc;
}
.contents .not_gall_wrap .titles>ul>li>a{
    
    color: #fff;}

.contents .not_gall_wrap .titles>ul>li.active{
    color: #fff;
    font-weight: bold;
    background: #1b54ff;
}

.tabContent{}
.contents .not_gall_wrap .n_content{margin-top: 10px;}
.contents .not_gall_wrap .n_content>ul>li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 4px 10px;
    font-size: 14px;
}
.contents .not_gall_wrap .n_content>ul>li>a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}
.contents .not_gall_wrap .n_content>ul>li:hover>a{
    text-decoration: underline;
    color: #1b54ff;
}
.contents .not_gall_wrap .n_content>ul>li>span{color: #333;}


.contents .not_gall_wrap .g_content{
    display: none;
    height: 146px;
}
.contents .not_gall_wrap .g_content>ul{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.contents .not_gall_wrap .g_content>ul>li{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
.contents .not_gall_wrap .g_content>ul>li>a>img{
    width: 100%;
    height: 100%;
}
.contents .not_gall_wrap .g_content>ul>li>span{
    color: #333;
    font-size: 14px;
}


.contents .banner{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.contents .banner h3{
    color: #333;
}
.contents .banner img{
    width: 100%;
}
.contents .banner span{
    padding: 5px 0;
    color: #333;
    text-align: center;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0; left: 0;
}
.contents .banner:hover span{
    color: #fff;
    font-weight: bold;
}


.contents .goto{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.contents .goto h3{
    color: #333;
}
.contents .goto img{
    width: 100%;
}
.contents .goto span{
    padding: 5px 0;
    color: #333;
    text-align: center;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0; left: 0;
}
.contents .goto:hover span{
    color: #fff;
    font-weight: bold;
}



#footer{
    width: 100%;
    height: 100px;
    background: #ccc;
    display: flex;
}
#footer .inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .inner h1{color: #333;}

#footer .inner .fRight{
    padding: 10px;
    width: 80%;
}
#footer .inner .fRight .menu{
    height: 50%;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
#footer .inner .fRight .menu ul{
    display: flex;
    justify-content: space-evenly;
}
#footer .inner .fRight .menu ul li{
    position: relative;
}
#footer .inner .fRight .menu ul li a{font-size: 14px;}
#footer .inner .fRight .menu ul li:not(:last-child)::after{
    content: "";
    background: #333;
    width: 1px;
    height: 20px;
    position: absolute;
    top: 3px; left: 88px;
}

#footer .inner .fRight .copyright{
    height: 50%;
    padding-top: 10px;
}
#footer .inner .fRight .copyright h4{color: #333;}
#footer .inner .fRight .copyright p{
    font-size: 12px;
}



.popup{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0; left: 0;
}
.popup .modal{
    width: 500px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup .modal h3{
    border-bottom: 3px double #ccc;
    padding-bottom: 10px;
    padding-left: 10px;
}
.popup .modal p{
    padding-top: 10px;
    padding-left: 10px;
    line-height: 150%;
}
.popup .modal .close{
    background: red;
    padding: 5px 10px;
    color: #fff;
    position: relative;
    top: 183px; left: 408px;
    border: none;
    cursor: pointer;
}