*{margin: 0; padding: 0; box-sizing: border-box;}

li{list-style: none;}
a{text-decoration: none; color: #333;}
/* #00aeef #ff6f61 */


.inner{
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, .3); */
}


#wrap{
    width: 100%;
    height: 700px;
}


#header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ddd;
}
#header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#header .inner #nav{
    margin-right: 20px;
    margin-top: 56px;
}

#header .inner #nav .bg{
    width: 100%;
    height: 164px;
    background: #00aeef;
    position: absolute;
    top: 100px; left: 0;
    display: none;
    z-index: 10;
}

#header .inner #nav>ul{
    display: flex;
}
#header .inner #nav>ul>li{
    width: 150px;
    border: 1px solid #ddd;
    text-align: center;
    margin-right: -1px;
}
#header .inner #nav>ul>li>a{
    display: block;
    padding: 10px 0;
    transition: .5s;
}
#header .inner #nav>ul>li:hover>a{
    background: #00aeef;
    color: #fff;
}


#header .inner #nav>ul>li>ul{
    position: absolute;
    width: 150px;
    text-align: center;
    display: none;
    z-index: 11;
}
#header .inner #nav>ul>li>ul>li{}
#header .inner #nav>ul>li>ul>li>a{
    display: block;
    padding: 10px 0;
    color: #fff;
    transition: .5s;
}
#header .inner #nav>ul>li>ul>li:hover>a{
    color: #00aeef;
    background: #FFF;
}



.imgslider{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}
.imgslider ul{
    position: relative;
    top: 0; left: 0;
    display: flex;
}
.imgslider ul li{
    width: 100%;
    height: 300px;
}



.contents{
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: flex;
}
.contents>div{
    width: 33.333%;
    padding: 20px;
}
.contents>div>h2{
    padding-bottom: 5px;
    border-bottom: 3px double #ddd;
    font-size: 16px;
    color: rgba(0, 0, 0, .5);

}

.contents .notice{}
.contents .notice ul{
    margin-top: 10px;
}
.contents .notice ul li{
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.contents .notice ul li:hover a{
    color: #00aeef;
}



.contents .gallery{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.contents .gallery ul{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.contents .gallery ul li{}
.contents .gallery ul li a{
    position: relative;
    display: block;
    overflow: hidden;
}
.contents .gallery ul li a img{
    display: block;
}
.contents .gallery ul li a span{
    position: absolute;
    top: -100%; left: 0;
    width: 100%;
    height: 100%;
    background: #00afef7c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .3s;
}
.contents .gallery ul li:hover a span{
    top: 0;
}


.contents .shortcut{
    overflow: hidden;
}
.contents .shortcut .imgWrap{
    height: 140px;
    overflow: hidden;
}
.contents .shortcut img{
    margin-top: 10px;
    width: 100%; 
}




#footer{
    width: 100%;
    height: 100px;
    background: #037aa5;
}
#footer .inner{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}


#footer .copyright{}
#footer .copyright p{
    font-size: 14px;
    margin-top: 20px;
}


#footer .sns_familysite{}
#footer .sns_familysite .sns{}
#footer .sns_familysite .sns ul{display: flex;}
#footer .sns_familysite .sns ul li{margin-left: 20px;}
#footer .sns_familysite .sns ul li a{}
#footer .sns_familysite .sns ul li a img{
    width: 36px;
}


#footer .sns_familysite .familysite{}
#footer .sns_familysite .familysite select{width: 168px;}




.popup{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0; left: 0;
    display: none;
}
.popup .modal{
    width: 500px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}
.popup .modal h2{
    text-align: center;
    margin-bottom: 20px;
}
.popup .modal p{
    letter-spacing: 1px;
    line-height: 180%;

}
.popup .modal button.close{
    position: absolute;
    bottom: 40px; right: 40px;
    background: #00aeef;
    color: #fff;
    padding: 10px 20px;
    border: none;
}