*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{color: #333; text-decoration: none;}

html,body{
    width: 100%;
    height: 100%;
}

.inner{
    width: 1200px;
    height: inherit;
    background: rgba(0, 0, 0, .3);
    margin: 0 auto;
}

#wrap{
    width: 100%;
    height: 700px;
    background: pink;
}

#header{}


#nav{}


#main{}


#footer{}