*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{color: #333; text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
    background: #fff;
}


#wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}



#header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1{}
#header h1 img{}



#header #nav{
    margin-right: 50px;
    margin-top: 60px;
    /* position: relative; */
    transition: .5s;
}
#nav .bg{
    display: none;
    width: 1200px;
    height: 150px;
    background: #005aa3;
    position: absolute;
    top: 100px; left: 360px;
    z-index: 10;
}

#nav>ul{display: flex;}
#nav>ul>li{
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    margin-left: -1px;
    text-align: center;
}
#nav>ul>li>a{
    display: block;
    color: #005aa3;
    font-weight: bold;
    transition: .5s;
}
#nav>ul>li:hover>a{
    background: #005aa3;
    color: #fff;
    font-weight: bold;
}

#nav>ul>li>ul{
    display: none;
    z-index: 11;
    position: relative;
}
#nav>ul>li>ul>li{
    margin-left: -1px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#nav>ul>li>ul>li>a{
    display: block;
    color: #ddd;
}
#nav>ul>li>ul>li:hover>a{
    background: #fff;
    color: #005aa3;
    font-weight: bold;
}





#main{
    width: 100%;
    height: 500px;
}
#main .imgslider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#main .imgslider ul{
    position: relative;
}
#main .imgslider ul li{
    
    width: 100%;
}
#main .imgslider ul li a{}
#main .imgslider ul li a img{}


#main .contents{
    width: 100%;
    height: 200px;
    display: flex;
}
#main .contents>div{
    width: 33.3333%;
    height: 100%;
}


.contents .noticeWrap{
    padding: 5px;
}
.contents .noticeWrap h3{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.contents .noticeWrap .nContent ul li{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}
.contents .noticeWrap .nContent ul li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}
.contents .noticeWrap .nContent ul li a:hover{
    color: #005aa3;
    text-decoration: underline;
}
.contents .noticeWrap .nContent ul li span{color: #333;}



.contents .galleryWrap{padding: 5px;}
.contents .galleryWrap h3{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.contents .galleryWrap .gContent ul{
    display: flex;
    justify-content: space-between;
}
.contents .galleryWrap .gContent ul li a img{
    width: 95%;
    padding: 10px 5px;
    display: block;
    margin: 0 auto;
}



.contents .gotoWrap{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.contents .gotoWrap h3{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.contents .gotoWrap .goWrap img{
    width: 100%;
    display: block;
    
}
.contents .gotoWrap .goWrap span{
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    color: #333;
}
.contents .gotoWrap:hover .goWrap span{
    color: #ddd;
    font-weight: bold;
}




#footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
}
#footer .footerLeft{
    padding-left: 30px;
    width: 85%;
    height: 100%;
}
#footer .footerLeft .menu{
    height: 50px;
    line-height: 50px;
    padding: 5px;
}
#footer .footerLeft .menu ul{
    display: flex;
    justify-content: space-between;
}
#footer .footerLeft .menu ul li{
    width: 100px;
}
#footer .footerLeft .menu ul li a{}


#footer .footerLeft .copyright{
    margin-top: -2px;
    padding: 5px;
    color: #999;
}
#footer .footerLeft .copyright h4{
    font-size: 14px;
    margin-bottom: 5px;
}
#footer .footerLeft .copyright p{
    font-size: 12px;
}


#footer .footerRight{
    padding-right: 25px;
}
#footer .footerRight select{
    width: 130px;
    padding: 5px 10px;
    border: none;
}
#footer .footerRight select option{
    text-align: center;
}




.popup{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0; left: 0;
}
.popup .modal{
    width: 500px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}
.popup .modal h3{
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
}
.popup .modal p{
    font-size: 15px;
    padding: 10px;
}
.popup .modal .close{
    border: none;
    background: red;
    padding: 5px 10px;
    position: relative;
    top: 180px; left: 390px;
    color: #fff;
}