*{margin: 0;padding: 0;box-sizing: border-box;}
a{color: #333; text-decoration: none;}
li{list-style: none;}

html, body{
    width: 100%;
    height: 100%;
    background: #fff;
}


#wrap{
    width: 100%;
    height: 970px;
}

.mWrap{
    width: 100%;
    height: 850px;
    display: flex;
}


#header{
    width: 200px;
    height: 100%;
    background: #fff5dc;
    padding: 10px;
    /* position: relative; */
}
#header h1{
    width: 100%;
    margin: 30px auto;
}
#header h1 img{
    width: 100%;
}


#nav{margin-top: 30px;}
#nav>ul{}
#nav>ul>li{
    border: 1px solid #0d8b00;
    margin-bottom: -1px;
    position: relative;
}
#nav>ul>li>a{
    display: block;
    padding: 10px;
    transition: .3s;
}
#nav>ul>li:hover>a{
    background: #0d8b00;
    color: #ffe9b6;
    font-weight: bold;
}

.bg{
    display: none;
    width: 0;
    height: 181px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 116px; left: 190px;
    z-index: 10;
}

#nav>ul>li>ul{
    padding-left: 36px;
    height: 100%;
    display: none;
    position: absolute;
    top: 0; left: 164px;
    z-index: 11;
}
#nav>ul>li>ul>li{width: 120px;}
#nav>ul>li>ul>li>a{
    text-align-last: left;
    display: block;
    padding: 10px 15px;
    color: #ffe9b6;
}
#nav>ul>li>ul>li:hover>a{
    background: #ffe9b6;
    color: #0d8b00;
}



.sub{
    margin: 0 auto;
    margin-top: 20px;
}
.sub ul{
    display: flex;
    justify-content: space-evenly;
}
.sub ul li a{
    color: #0d8b00;
    font-size: 14px;
    position: relative;
}
.sub ul li:hover a{text-decoration: underline;}
.sub ul li:first-child a::after{
    content: "";
    width: 1px;
    height: 15px;
    background: #0d8b00;
    position: absolute;
    top: 3px; right: -15px;
}




#main{
    width: calc(100% - 200px);
    height: 100%;
    position: relative;
}

.imgslider{
    width: 100%;
    height: 400px;
    position: relative;
}
.imgslider ul li{
    width: 100%;
    height: 100%;   
}
.imgslider ul li img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.banner{
    width: 100%;
    height: 200px;
    padding: 10px 5px;
}
.banner .bWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ffe9b6;
}
.banner .bWrap>img{
    width: 10%;
    height: 100%;
    object-fit: cover;
}
.banner .bWrap .textWrap{margin-left: -180px;}
.banner .bWrap .textWrap h3{
    color: #0d8b00; 
    padding-bottom: 10px;
    font-size: 40px;
}
.banner .bWrap .textWrap p{color: #333;}
.banner .bWrap a{margin-right: 10px;}


.contents{
    width: 100%;
    height: 250px;
    padding: 10px;
}

.tab ul{display: flex;}
.tab ul li{margin-right: 5px;}
.tab ul li a{
    display: block;
    padding: 5px 10px;
    background: #ffe9b6;
    color: #777;
}
.tab ul li a.on{background: #0d8b00; color: #ffe9b6;}

.tabContent{
    width: 100%;
    height: 200px;
    padding: 10px;
    background: #0d8b00;
    overflow: hidden;
}
.tabContent .notice ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding: 10px 30px;
}
.tabContent .notice ul li:hover a{color: #ffe9b6; text-decoration: underline;}
.tabContent .notice ul li span{color: #333;}

.tabContent .gallery{display: none;}
.tabContent .gallery ul{
    display: flex;
    justify-content: space-evenly;
}
.tabContent .gallery ul li a img{
    width: 200px;
    height: 180px;
    /* display: block; */
}




.goto{
    height: 305px;
    width: 120px;
    background: #0d8b00;
    position: fixed;
    top: 20px; right: 20px;
    padding: 10px;
}
.goto ul li{
    text-align: center;
    height: 100px;
}
.goto ul li:not(:last-child){border-bottom: 1px solid #ffe9b6;}
.goto ul li a{
    display: block;
    padding-top: 5px;
}
.goto ul li a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#footer{
    width: 100%;
    height: 120px;
    background: #777;
    display: flex;
    padding: 10px;
    align-items: center;
}
#footer h1{
    margin-left: -10px;
    width: 200px;
}
#footer h1 img{
    width: 200px;
    height: 40px;
    display: block;
}


#footer .copy_menu{padding-left: 20px;}
#footer .copy_menu .menu ul{display: flex;}
#footer .copy_menu .menu ul li a{
    display: block;
    padding: 0 10px;
}
#footer .copy_menu .menu ul li:hover a{text-decoration: underline;}


#footer .copy_menu .copy{
    padding-top: 20px;
    padding-left: 10px;
    height: 60px;
    font-size: 12px;
    color: #333;
}



.popup{
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0; left: 0;
}
.popup .modal{
    background: #fff;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup .modal h3{
    border-bottom: 4px double #777;
    padding-bottom: 10px;
}
.popup .modal p{
    margin-top: 10px;
    color: #333;
    line-height: 150%;
    padding: 0 10px;
}
.popup .modal .close{
    border: none;
    color: #fff;
    background: red;
    padding: 5px 10px;
    position: relative;
    top: 120px; left: 398px;
    cursor: pointer;
}