*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{color: #333; text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
    background: #fff;
}

#wrap{
    width: 1000px;
    height: 650px;
    display: flex;
}


#header{
    height: 100%;
    width: 200px;
}
#header h1{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
#header h1 img{width: 100%;}


#nav{margin-top: 20px;}
#nav>ul>li{
    border: 1px solid #ccc;
    width: 170px;
    text-align: center;
    margin: 0 auto;
    margin-top: -1px;
    position: relative;
    z-index: 10;
}
#nav>ul>li>a{
    display: block;
    transition: .3s;
    padding: 10px 0;
}
#nav>ul>li:hover>a{
    font-weight: bold;
    color: #fff;
    background: orange;
}


#nav>ul>li>ul{
    display: none;
    background: orange;
    position: absolute;
    left: 169px; top: -1px;
    width: 170px;
    height: 170px;
    /* opacity: 0; */
}
#nav>ul>li>ul>li>a{
    display: block;
    color: #fff;
    transition: .3s;
    padding: 10px 0;
}
#nav>ul>li>ul>li:hover>a{
    background: #fff;
    font-weight: bold;
    color: orange;
}



.mainWrap{
    height: 100%;
    width: 800px;
}
#main{
    width: 100%;
    height: 550px;
}


.imgslider{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.imgslider ul{
    display: flex;
    position: relative;
    top: 0; left: 0;
}
.imgslider ul li a img{
    width: 800px;
    height: 350px;
    object-fit: cover;
}


.contents{
    width: 100%;
    height: 200px;
    display: flex;
}
.contents>div{
    width: 33.3333%;
    height: 100%;
    padding: 10px;
}
.contents>div>h3{
    color: #333;
    margin-top: 5px;
}
.contents>div>div{
    margin-top: 10px;
    background: whitesmoke;
    height: 140px;
}


.nWrap .notice ul{padding-top: 10px;}
.nWrap .notice ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0 5px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.nWrap .notice ul li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
}
.nWrap .notice ul li span{color: #333;}
.nWrap .notice ul li:hover a{color: orange; font-weight: bold;}


.gallery ul{
    padding: 0 5px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.gallery ul li a img{
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
}


.goto{
    position: relative;
}
.goto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.goto span{
    text-align: center;
    font-size: 14px;
    background: rgba(0, 0, 0, .4);
    color: #ccc;
    padding: 5px 0;
    width: 100%;
    position: absolute;
    bottom: 0;left: 0;
}
.goto:hover span{
    background: rgba(255, 255, 255, .4);
    color: #000;
    font-weight: bold;
}




#footer{
    width: 100%;
    height: 100px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#footer h1{
    margin-top: 5px;
}
#footer h1 img{}
#footer .copy{
    display: flex;
    color: #333;
    margin: 0 auto;
}
#footer .copy h5{margin-right: 10px;}
#footer .copy p{font-size: 13px;}
#footer .family{
    display: flex;
    align-items: center;
}
#footer .family select{
    height: 28px;
    width: 130px;
    margin-right: 10px;
    border: none;
    padding-left: 5px;
}
#footer .family select option{}
#footer .family button{
    border: none;
    color: #333;
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}




.popup{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .6);
}
.popup .modal{
    background: #fff;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup .modal h3{
    padding-bottom: 10px;
    border-bottom: 4px double #ccc;
}
.popup .modal p{
    line-height: 150%;
    margin-top: 10px;
}
.popup .modal .close{
    background: red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    position: relative;
    top: 60px; left: 305px;
}