*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: #333;}

html, body{
    width: 100%;
    height: 100%;
    background: #fff;
}


#header{
    width: 1340px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1{margin-left: 20px;}

#nav{
    margin-top: 55px;
    padding-right: 20px;
}
#nav>ul{
    display: flex;
}
#nav>ul>li{
    width: 130px;
    border: 1px solid #1b3b86;
    margin-right: -1px;
    text-align: center;
    transition: .3s;
}
#nav>ul>li:hover{
    background: #1b3b86;
}
#nav>ul>li:hover>a{color: #fff;}
#nav>ul>li>a{
    display: block;
    padding: 10px 15px;
    transition: .3s;
    color: #1b3b86;
}
#nav>ul>li>ul{
    display: none;
    position: absolute;
    z-index: 1;
    background: #fff;
}
#nav>ul>li>ul>li{
    text-align: center;
    width: 130px;
    transition: .3s;
    margin-right: -1px;
}
#nav>ul>li>ul>li:hover{
    background: #7993cf;
}
#nav>ul>li>ul>li:hover>a{font-weight: bold; color: #fff;}
#nav>ul>li>ul>li>a{
    display: block;
    padding: 10px 15px;
    transition: .3s;
    color: #1b3b86;
}


.slider{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.slider ul{
    position: relative;
    width: 100%;
    height: 100%;
}
.slider ul li{
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.slider ul li:first-child{opacity: 1;}


#main{
    height: 600px;
    width: 1340px;
    position: absolute;
    top: 350px; left: 50%;
    transform: translateX(-50%);
}
#main .links{
    width: 100%;
    height: 100px;
    background: #eee;
}
.links ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.links ul li a img{
    display: block;
    width: 20%;
    height: 20%;
    object-fit: cover;
}
.links ul li:hover span{text-decoration: underline;}


#main .banner{
    width: 100%;
    height: 130px;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.banner .txt{
    width: 97%;
    height: 88%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #eee;
    transition: .3s;
}
.banner .txt h3{font-size: 20px;}
.banner .txt:hover{background: rgba(0, 0, 0, .7);}


#main .contents{
    width: 100%;
    height: 250px;
    display: flex;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#main .contents>div{
    width: 50%;
    height: 100%;
    padding: 20px;
}
#main .contents>div>h3{margin-bottom: 15px;}
#main .contents .notice{
    border-right: 1px solid #eee;
}
.notice ul li:hover a{color: #111;}
.notice ul li{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #666;
    padding: 0 10px;
}
.notice ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice ul li a span{
    font-size: 14px;
    color: #666;
}


.gallery ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.gallery ul li:hover a span{text-decoration: underline;}
.gallery ul li a span{font-size: 14px;}


#footer{
    width: 1340px;
    height: 120px;
    background: #333;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .copy{
    color: #666;
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-right: 1px solid #666;
}
#footer .menu{
    text-align: center;
    width: 20%;
    height: 100%;
}
#footer .menu .sns{
    width: 100%;
    height: 50%;
    padding: 0 30px;
}
#footer .menu .sns ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer .menu .sns ul li a{
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 40px;
}
#footer .menu .sns ul li a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#footer .menu .family{
    width: 100%;
    height: 50%;
    border-top: 1px solid #666;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .menu .family select{
    border: none;
    padding: 5px 60px 5px 15px;
}
#footer .menu .family select:focus{outline: none;}



.popup{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0; left: 0;
}
.popup .pop{
    width: 450px;
    height: 450px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup .pop h4{
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 3px dotted #1b3b86;
    text-align: center;
}
.popup .pop p{
    margin-top: 10px;
    line-height: 170%;
    padding: 0 5px;
}
.popup .pop button{
    background: #ccc;
    border: none;
    padding: 5px 15px;
    position: relative;
    top: 170px;
    left: 165px;
    transition: .3s;
    cursor: pointer;
}
.popup .pop button:hover{background: #1b3b86; color: #eee;}