*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{color: #333; text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
    background: #fff;
}

#wrap{
    width: 100%;
    height: 750px;
}

.mainWrap{
    width: 100%;
    height: 650px;
    display: flex;
}


.mainWrap #header{
    width: 200px;
    height: 100%;
    background: whitesmoke;
}
#header h1{
    padding: 0 10px;
    margin: 30px auto;
    margin-left: 5px;
}
#header h1 img{
    display: block;
    width: 100%;
    object-fit: cover;
}
#header #nav{margin-top: 30px;}


#nav>ul>li{
    margin: 0 auto;
    width: 170px;
    margin-bottom: -1px;
    border: 1px solid rgb(66, 132, 255);
}
#nav>ul>li>a{
    display: block;
    padding: 5px 10px;
    transition: .3s;
}
#nav>ul>li:hover>a{
    background: rgb(66, 132, 255);
    font-weight: bold;
    color: #fff;
}



#nav>ul>li>ul{
    display: none;
    margin: 0 auto;
    width: 100%;
    background: #fff;
}
#nav>ul>li>ul>li>a{
    padding-left: 10px;
    display: block;
    padding: 5px 10px;
    transition: .3s;
}
#nav>ul>li>ul>li:hover>a{
    background: rgb(110, 161, 255);
    color: #fff;
}





.mainWrap #main{
    width: calc(100% - 200px);
    height: 100%;
}

#main .sliderWrap{
    width: 100%;
    height: 400px;
    display: flex;
}


.imgslider{
    width: calc(100% - 230px);
    height: 100%;
    overflow: hidden;
}
.sliderWrap ul{
    display: flex;
    position: relative;
    top: 0; left: 0;
    width: 100%;
}
.sliderWrap ul li{
    width: 100%;
    flex-shrink: 0;
}
.sliderWrap ul li a img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 400px;
}


#main .sliderWrap .banner{
    width: 230px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.banner img{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 40%;
    object-fit: cover;
}
.banner img.arrow{
    position: relative;
    top: 10px;
    display: block;
    width: 47px;
    height: 75px;
    object-fit: cover;
    margin-left: 170px;
}
.banner .text{
    padding: 5px 15px 0 15px;
    color: #333;
    font-size: 14px;
}
.banner .text p{font-size: 12px;}



#main .contents{
    width: 100%;
    height: 250px;
    display: flex;
}
.contents>div{
    width: 50%;
    height: 100%;
    padding: 10px;
}
.contents>div>h3{margin-bottom: 5px; margin-left: 10px;}
.contents>div>div{margin-top: 10px;}


.nWrap ul li{
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    align-items: center;
}
.nWrap ul li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    transition: .2s;
}
.nWrap ul li:hover a{
    color: rgb(66, 132, 255);
    text-decoration: underline;
}
.nWrap ul li span{color: #333;}



.gWrap ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gWrap ul li{
    padding: 0 10px;
}
.gWrap ul li span{
    
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    color: #333;
    font-size: 12px;
}
.gWrap ul li a img{
    width: 100%;
    display: block;
    height: 160px;
    object-fit: cover;
}




#footer{
    width: 100%;
    height: 100px;
    background: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#footer h1{
    width: 200px;
    height: 100px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 5px;
}
#footer h1 img{
    width: 100%;
    object-fit: cover;
    /*margin: 0 auto; */
    opacity: .7;
}
#footer .copy{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #333;
    align-items: center;
}
#footer .copy h5{margin-right: 10px;}
#footer .copy p{}
#footer .family{margin-right: 10px;}
#footer .family select{
    border: none;
    padding: 5px 10px;
    width: 200px;
}
#footer .family select option{}



.popup{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0; left: 0;
}
.popup .modal{
    width: 500px;
    height: 400px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #aaa;
}
.popup .modal h3{
    border-bottom: 3px double rgb(66, 132, 255);
    padding-bottom: 10px;
}
.popup .modal p{
    color: #333;
    font-size: 15px;
    line-height: 150%;
    margin-top: 10px;
    padding: 0 10px;
}
.popup .modal .close{
    background: red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    position: relative;
    top: 70px; left: 383px;
}